<h1  class="heading1">Hello {{title}}, welcome {{names}}</h1>
  <h3>{{names}}</h3>
  <h4>{{getValue()}}</h4>
<button (click)="getPopUp()" style="background-color: aqua;" >click here</button>

<h2 style="color: red;">Hii</h2>
<app-login2></app-login2>

<!-- <app-user-list></app-user-list> -->
<!-- <form action="">
    <label for="fname">First name: </label>
    <input type='text'  #first id="fname" placeholder='enter your first name' required/>
    <br> <br>
    <label for="lname">Last name: </label>
    <input type='text' #last placeholder='enter your last name' required/> <br> <br>
    <button type="submit" style="background-color: rgb(119, 140, 155);" (click)="getUserInfo(first.value, last.value)">Submit</button>
    <br>
<br>
</form> -->

<button (click)="getObject()">getObject</button>
<!-- <p> list: {{objectList}}</p> -->
<br>

<div *ngIf="objectList">
  <h1>'object list'</h1>
  <table class="custom-table">
    <thead>
      <tr>
        <th>name</th>
        <th>label</th>
        <th>id</th>
        <th>createdBy</th>
        <th>createdOn</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of objectList.data" class="no-bullet">
        <td>{{ item.name }}</td>
        <td >{{ item.label }}</td>
        <td >{{ item._id }}</td>
        <td>{{ item.createdBy.name }}</td>
        <td>{{ item.createdOn }}</td>
      </tr>
    </tbody>
  </table>
</div>

<br> 

<input type="text" #name >
<button (click)="getUserName(name.value)">show</button>
<p> your name is : {{displayName}}</p>
<br>
<button (click)="counter('sub')">--</button>
<br>
<button (click)="counter('add')">++</button>
<p>count is : {{count}}</p>




<!-- <h1 *ngIf="show"> show true</h1> -->
<!-- <button (click)="getCountryCode()">countries</button>
<p>country code is : {{countryCode}}</p>
 <p>country code object is : {{ countryCode | json }}</p> -->

<!-- <button (click)="getCountryCode()">Get Countries</button> --> 
<!-- <p *ngIf="countryCode">Country Code: {{ countryCode | json }}</p> -->
<!-- <p> {{countryCode}}</p> -->


<p style="font-size: 18px; color: blue;">data-display works!</p>
<button style="background-color: green; color: white;" (click)="getCountryCode()">countryCodes</button>

<div *ngIf="countryCode"> 
  <h1>{{ countryCode.label }}</h1>
  <table class="custom-table">
    <thead>
      <tr>
        <th>Label</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of countryCode" class="no-bullet">
        <td>{{ item.label }}</td>
        <td >{{ item.value }}</td>
      </tr>
    </tbody>
  </table>
</div>

<button (click)="getData()">getData</button>

<div *ngIf="accountData">
  <h1>{{ accountData.data.label }}</h1>
  <table class="custom-table">
    <thead>
      <tr>
        <th>name</th>
        <th>objType</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of accountData.data" class="no-bullet">
        <td>{{ item.name }}</td>
        <td >{{ item.objType }}</td>
      </tr>
    </tbody>
  </table>
</div>